body{
  font-family: 'Roboto', sans-serif;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

#container {
  display: flex;
  justify-content: center;
}


#canada g {
  transition: .3s;
}

#canada g:hover { 
  fill: hsl(120, 98%, 60%);
  cursor: pointer;
}


.province{
  fill: #d3d3d3;
}


.active, .active:hover { 
  fill: hsl(120, 98%, 60%);
}	

